#ad_show {
	padding-top: 2rem;
	.ad_image_description {
		width: 100%;
		float: left;
		margin-right: 5%;
	}
	.ad_data {
		width: 15%;
		float: left;
		}
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border-bottom: 1px solid #c2c2c2;
			text-decoration: none;
			color: #797979;
			margin: 0;
		}
	}
	
